
.NotificationNumber {
    width: 16px;
    height: 16px;
    background-color: red;
    color: white;
    border-radius: 50%;
    line-height: 16px;
    position: absolute;
    top: -2px;
    right: -4px;
    text-align: center;
}